<script setup lang="ts">
import { ref } from 'vue'
import type { Ref } from 'vue'
import { animeList } from '~/logic/storage'

interface Anime {
  name: string
  episode: string
  url: string
}

const nodeEnv = import.meta.env.DEV
const animeListFormated = ref([]) as Ref<Anime[]>
const search = ref('')
const animeListFiltered = computed(() => {
  return animeListFormated.value.filter((anime) => {
    return anime.name.toLowerCase().includes(search.value.toLowerCase())
  })
}) as ComputedRef<Anime[]>

// function openOptionsPage() {
//   browser.runtime.openOptionsPage()
// }

setTimeout(() => {
  animeListFormated.value = animeList.value ? JSON.parse(animeList.value) : []
}, 100)

function deleteAnime(animeName: string) {
  animeListFormated.value = animeListFormated.value.filter((anime) => {
    return anime.name !== animeName
  })
  animeList.value = JSON.stringify(animeListFormated.value)
}
</script>

<template>
  <main class="w-[300px] px-4 py-4 text-gray-700">
    <!-- <Logo /> -->
    <div class="text-xl text-center">
      Anime Watcher <span v-if="nodeEnv" class="text-sm">dev</span>
    </div>
    <div class="text-xs text-center mb-4 italic">
      Only working for voiranime.com for now
    </div>
    <div class="flex">
      <input v-model="search" type="search" class="border border-gray-400 rounded px-2 py-1 mb-2 w-full focus:outline-none" placeholder="Search anime">
    </div>
    <div v-if="animeListFiltered.length > 0">
      <AnimeCard
        v-for="(anime, key) in animeListFiltered"
        :key="key"
        :name="anime.name"
        :episode="anime.episode"
        :url="anime.url"
        @delete-anime="deleteAnime"
      />
    </div>
    <div v-else class="text-center text-base m-2">
      No anime found
    </div>

    <!-- <button class="btn mt-2" @click="openOptionsPage">
      Open Options
    </button> -->
  </main>
</template>
