<script setup lang="ts">
const props = defineProps({
  name: { type: String, required: true },
  episode: { type: String, required: true },
  url: { type: String, required: true },
})

defineEmits(['deleteAnime'])

function redirect(url: string) {
  browser.tabs.create({ url })
}
</script>

<template>
  <div class="w-full flex my-2">
    <!-- <div class="mr-2">
      Anime Img
    </div> -->
    <div class="flex flex-col w-full cursor-pointer" @click="redirect(props.url)">
      <div class="text-base">
        {{ props.name }}
      </div>
      <div>
        {{ props.episode }}
      </div>
    </div>
    <div class="ml-auto" @click.prevent>
      <button class="" @click="$emit('deleteAnime', props.name)">
        X
      </button>
    </div>
  </div>
</template>
