<script setup lang="ts">
import 'uno.css'
import { animeList } from '~/logic/storage'

interface Anime {
  name: string
  episode: string
  url: string
}
const url = location.href

function getAnimeFromUrl(url: string) {
  const animeName = url.split('/')[4]
  const animeEpisode = url.split('/')[5]
  let formatAnimeEpisode = animeEpisode
  if (animeEpisode.includes(`${animeName}-`))
    formatAnimeEpisode = animeEpisode.split(`${animeName}-`)[1].split('-').join(' ').toLocaleUpperCase()
  else
    formatAnimeEpisode = animeEpisode.split('-').join(' ').toLocaleUpperCase()

  const formatAnimeName = animeName.split('-').map((word) => {
    return word.charAt(0).toUpperCase() + word.slice(1)
  }).join(' ')

  return { name: formatAnimeName, episode: formatAnimeEpisode, url }
}

setTimeout(() => {
  if (url.includes('voiranime') && location.pathname.split('/')[1] === 'anime') {
    const animeListFormated = ref([]) as Ref<Anime[]>
    animeListFormated.value = animeList.value ? JSON.parse(animeList.value) : []
    animeListFormated.value = animeListFormated.value.filter((anime: Anime) => {
      return anime.name !== getAnimeFromUrl(url).name
    })
    animeListFormated.value.unshift(getAnimeFromUrl(url))
    animeList.value = JSON.stringify(animeListFormated.value)
  }
}, 100)
</script>

<template>
  <div v-if="url.includes('voiranime')" />
</template>
